::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #082541;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
}

main .sidebar {
    height: 100vh;
    width: 300px;
    background-color: #0D3B66;
    top: 0;
    left: 0;
    position: fixed;
    transition: all ease 0.4s;
    overflow-y: auto;
    overflow-x: hidden;
}

main .content {
    margin-left: 300px;
}

body.active main .sidebar {
    left: -300px;
}
body.active main .content {
    width: 100%;
    margin-left: 0;
}


.content {
    transition: all ease 0.4s;
}

.sidebar-header {
    padding: 10px 15px 15px 10px
}

.sidebar-logo-container {
    background-color: rgba(0,0,0,0.2);
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-left: 2px;
}

.logo-container {
    max-width: 50px;
    margin: 8px;
    padding: 2px;
}

.logo-sidebar {
    width: 100%;
    height: auto;
}

.brand-name-container {
    padding: 0px;
    /* margin: 9px 10px 0px 2px; */
}

.brand-name {
    color: white;
    margin: 0;
    line-height: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.brand-subtitle {
    font-weight: 300;
    font-size: 14px;
}

.navigation-list {
    list-style-type: none;
    padding: 0 18px;
    margin-top: 30px;
}

.navigation-list-item{
    padding: 10px 18px;
    border-radius: 8px;
    margin: 10px 0;
    transition: background-color .1s ease;
}

.navigation-list-item:hover{
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 0.4em rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.navigation-list-item.active {
    background-color: rgba(0,0,0, 0.1);
    box-shadow: 0 0 0.4em rgba(255, 255, 255, 0.1);
}

.navigation-link {
    text-decoration: none;
    letter-spacing: .5px;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    transition: color .1s ease;
}

.navigation-link i {
    font-size: 18px;
}

.navigation-list-item:hover .navigation-link{
    color: #EE964B;
}

.navigation-list-item.active .navigation-link{
    color: #e7ac79;
    font-weight: 500;
}

.navigationBar{
    background-color: white;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 38px 0;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
}


.sidebarToggle {
    background-color: #c5c6c7;
    font-size: 16px;
    padding: 5px 10px;
    color: rgba(0,0,0,0.8);
    margin-left: -10px;
    z-index: 99;
    border-radius: 50px;
    border: none;
    transition: all ease .4s;
    /* outline: none !important; */
}

.sidebarToggle:hover{ 
    background-color: #c5c6c7;
    color: white;
    /* outline: none !important; */
}

.sidebarToggle.active {
    margin-left: 10px;
}

.table-content {
    display: flex;
    padding: 80px 80px;
    justify-content: center;
    align-items: center;
    height: auto;
}

.btn {
    font-size: 16px;
}

.align-center.vertical {
    vertical-align: middle;
}